  <h1><%= @contact.first_name() %></h1>
  <h1><%= @contact.last_name() %></h1>
  <h1><%= @contact.phone_number() %></h1>
  <h1><%= @contact.email%></h1>
  <h1><%= @contact.job_title() %></h1>
  <h1><%= @contact.company() %></h1>
  <a href="/">Home</a>
